<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Nos siga nas Redes Sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="socialNetwork">
                    <li>
                        <a href="https://www.facebook.com/guilherme.rodrigues.505/" target="_blank" class="iconFace">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/_guigooooo/" target="_blank" class="iconInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/guilherme-barbosa00/" target="_blank" class="iconLinke">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

        <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light"> &copy; 2022 Copyright </span>
            <a class="text-light" target="_blank" href=""> Todos os direitos reservados a: Guilherme Barbosa Rodrigues</a>
        </div>
    

</footer>
