.gradient-custom-2 {

  background: #89f7fe;

  background: -webkit-linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {

    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
  }
}

.text1{
  font-weight: 600;
}

